//REF: https://docs.moodle.org/dev/Boost_Presets

/*************************** Variables section. *****************************/
// Create variables to override the default value for variables used in the Moodle and Bootstrap SCSS files.


/*************************** Import section  *****************************/
// Always the same.
// Import FontAwesome.
@import "../../boost/scss/fontawesome";

// Import All of Bootstrap
@import "../../boost/scss/bootstrap";

// Import Core moodle CSS
@import "../../boost/scss/moodle";


/*************************** Rules section ****************************/
/* Theme Colour Custom Settings (defined in settings.php and lib.php) */
//Aqua
$theme-color-primary: #57a89a !default; 

/* Theme Colours */
$theme-color-counter: #f66754;
$theme-color-new: #5ab66e;
$theme-color-alert: #38AEEA;
$theme-text-color-primary: #444;
$theme-text-color-secondary: #666;
$theme-text-color-light: #999;
$theme-text-color-grey: lighten($theme-text-color-primary, 30%);
$theme-bgcolor: #eef2f8;
$theme-border-color:  #eee;
$theme-divider-color: #e8e8e8;
$smoky-white: #f5f5f5;


$light-grey: #ccc;
$black: #000;
$darker-grey: #666;
$grey: #999;


$google-color: #d73d32;
$facebook-color: #3b5998;
$microsoft-color: #0067b8;
$twitter-color: #1da1f2;
$linkedin-color: #0073b1;
$star-rating: #F0C744;


$light-grey: #ccc;
$black: #000;
$darker-grey: #666;
$grey: #999;





/*
//Blue
$theme-color-primary: #6091ba !default; 
//Green
$theme-color-primary: #57a89a !default; 
//Purple
$theme-color-primary: #6f7a9f !default; 
//Red
$theme-color-primary: #a85770 !default; 
*/



// Theme styles
@import "styles";




