<footer id="page-footer" class="page-footer">
	<div class="page-footer-inner">
	    <div class="container">
	        <div id="course-footer">{{{ output.course_footer }}}</div>
	        
	        {{!--//footer_blocks (theme class function)--}}
	        {{{ output.footer_blocks}}}
	        
	        
	        {{!--//footer_widget (theme class function)--}}
	        {{{ output.footer_widget }}}
	        
	        
	        {{!--//footer_socialmedia (theme class function)--}}
	        {{{ output.footer_socialmedia}}}
	        
	        <div class="moodle-links-container">
                {{# output.page_doc_link }}
		            <p class="helplink">{{{ output.page_doc_link }}}</p>
		        {{/ output.page_doc_link }}
		        
		        
		
		        {{{ output.login_info }}}
		        
		        <div class="tool_usertours-resettourcontainer"></div>
		        

		  
		        <nav class="nav navbar-nav d-md-none">
		            {{# output.custom_menu_flat }}
		                <ul class="list-unstyled pt-3">
		                    {{> theme_boost/custom_menu_footer }}
		                </ul>
		            {{/ output.custom_menu_flat }}
		        </nav>
	        
	        
	      
	             {{{ output.standard_footer_html }}}
	             
	        </div><!--//moodle-links-container-->
	        
	        {{{ output.standard_end_of_body_html }}}
	        
	        <div class="moodle-debugging pt-3 text-center">
	            {{{ output.debug_footer_html }}}
	        </div><!--//moodle-debugging-->
	        
	        
	    </div>
	</div>
	
	
	
	{{# output.footer_copyright }}
    <div class="footer-bottom-bar">
	    <small class="copyright">{{{ output.footer_copyright }}}</small>
    </div>
    {{/ output.footer_copyright }}
    
</footer>
