{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    
    {{#output.usefontsapi}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet"> 
    {{/output.usefontsapi}}
    
    {{!--//ios_homescreen_icons (theme class function)--}}
	{{{ output.ios_homescreen_icons}}}
    
    <link rel="stylesheet" href="{{{ config.wwwroot }}}/theme/gourmet_boost/plugins/flexslider/flexslider.css">
    
    {{{ output.standard_head_html }}}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{#output.google_analyticsid}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{{output.google_analyticsid}}}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', '{{{output.google_analyticsid}}}');
	</script>
    {{/output.google_analyticsid}}
    
</head>

<body {{{ bodyattributes }}}>
	
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_gourmet_boost/header}}

    {{!--//header_alert (theme class function)--}}
    {{{ output.header_alert}}}    
    
    {{!-- fp_slideshow (theme class function) -- }}
    {{{ output.fp_slideshow }}}
    
    {{!-- fp_ctasection (theme class function) --}}
    {{{ output.fp_ctasection }}}    

    {{!-- fp_featuredblocks (theme class function) --}}
    {{{ output.fp_features }}}
    
    {{!-- fp_testimonials (theme class function) --}}
    {{{ output.fp_testimonials }}}

    <div id="page" class="container-fluid">

        {{{ output.full_header }}}
        
             {{#secondarymoremenu}}
                <div class="secondary-navigation">
                    {{> core/moremenu}}
                </div>
            {{/secondarymoremenu}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ regionmainsettingsmenu }}}  </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" class="{{^hasblocks}}col-lg-10 col-12 offset-lg-1{{/hasblocks}} {{#hasblocks}}has-blocks{{/hasblocks}}" aria-label="{{#str}}content{{/str}}">
                    
                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{#headercontent}}
                        {{> core/activity_header }}
                    {{/headercontent}}
                    {{#overflow}}
                        {{> core/url_select}}
                    {{/overflow}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                </section> 
                {{#hasblocks}}
			    <section id="region-sidebar" data-region="blocks-column" class="d-print-none">
				    {{{ addblockbutton }}}
			        {{{ sidepreblocks }}}
			    </section>
			    {{/hasblocks}}
            </div>
        </div>
        
    </div>
    
    {{{ output.standard_after_main_region_html }}}
    
    {{!-- fp_logos (theme class function) --}}
    {{{ output.fp_logos }}}

    
    
</div>


{{>theme_gourmet_boost/footer}}

<script>
	
	$.getScript("{{{ config.wwwroot }}}/theme/gourmet_boost/plugins/flexslider/jquery.flexslider-min.js", function(){

	    $('.flexslider').flexslider({
	        animation: "fade",
	        start: function(){
               $(this).find('.slide').css("display", "block"); //prevent flash of the images
            },
	    });
    
    });

</script>


</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}

