{{#invalid}}
<div class="header-alert alert" role="alert" >
  <div class="container-fluid header-alert-inner">
	  <div class="alert-content text-left" style="background-color:#d93025;"><div class="inner"><strong>Your theme license is only valid for Moodle 4.1!</strong> You need to purchase the correct license to continue using this theme. <br>For your license upgrade options please <a href="https://elearning.3rdwavemedia.com/contact/">contact us</a>.</div></div>
  </div><!--//container-->
</div>
{{/invalid}}