{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/secure

    Boost secure layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page

      Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    
    {{#output.usefontsapi}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet"> 
    {{/output.usefontsapi}}
    

    {{!--//ios_homescreen_icons (theme class function)--}}
	{{{ output.ios_homescreen_icons}}}
    
    {{{ output.standard_head_html }}}
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{#output.google_analyticsid}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{{output.google_analyticsid}}}"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', '{{{output.google_analyticsid}}}');
	</script>
    {{/output.google_analyticsid}}

</head>

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="page-wrapper page-wrapper-secure">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_gourmet_boost/header_secure}}

    <div id="page" class="container-fluid">
        {{! Secured full header }}

        <div id="page-header">
            
            <div class="page-context-header">
                <div class="page-header-headings py-4">
                    {{{ output.page_heading }}}
                </div>
            </div>
            
        </div>
        

        <div id="page-content">
            <div id="region-main-box">
                <section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
                    <div class="card">
	                    <div class="card-body">
		                    {{{ output.course_content_header }}}
		                    {{{ output.main_content }}}
		                    {{{ output.course_content_footer }}}
	                    </div>
                    </div>
                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
</div>
{{>theme_gourmet_boost/footer_secure}}

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
    M.util.js_complete('theme_boost/loader');
});
{{/js}}

