/* Login Page */

h2.login-sitename {
	text-align: center;
	font-size: 32px;
	a {
		color: $theme-text-color-primary;
		font-size: 32px;
		&:hover {
			text-decoration: none;
		}
	}
}
.has-logo h2.login-sitename a  {
	color: $theme-text-color-primary;
	text-decoration: none;
	font-size: 22px;
	&:hover {
		text-decoration: none;
	}
}
.page-wrapper.has-bg-image.has-bg-mask:before {
	content: "";
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.auth-blocks-wrapper {
	position: relative;
	@include box-shadow(0 1px 2px rgba(0,0,0,.1));
	max-width: 760px;
	margin: 0 auto;
	background: #fff;
	padding: 30px;
	@include border-radius(2px);
	margin-top: 60px;
	.forgetpass {
		margin-top: 5px;
		font-size: 13px;
		a {
			color: $theme-text-color-light;
			&:hover {
				color: $theme-text-color-secondary;
			}
		}
	}
	.login-block {
		.block-title {
			margin-bottom: 30px;
		}
		.form-group.password {
			margin-bottom: 5px;
		}
		.info-col {
			//padding:0 30px;
		}
		.form-group {
			position: relative;
			.fa {
				position: absolute;
				left: 15px;
				top: 10px;
				color: $theme-text-color-light;
				font-size: 18px;
			}
			.form-control {
				padding-left: 35px;
			}
		}
	}
	.cookies {
		//color: $theme-text-color-light;
		.icon {
			color: $theme-text-color-light !important;
		}
	}
	.rememberpass {
		margin-top: 10px;
		color: $theme-text-color-light;
		font-size: 13px;
	}
	
	.instructions-block {
		margin-top: 30px;
		border-top: 1px solid $theme-border-color;
		padding-top: 15px;
		font-size: 16px;
		
	}
	
	.action-container {
		position: relative;
		min-height: 50px;
		.option-title {
			//margin-top: 5px;
		}
	}
	
	.signup-link {
		position: absolute;
		right: 0;
		top: 0;
		.btn {
			font-size: 14px;
		}
	}
	
	.instructions {
		font-size: 14px;
		padding: 15px;
		background: $smoky-white;
		@include border-radius(2px);
	}
	
	.maintenance-block {
		background: #E56763;
		color: #fff;
		@include border-radius(2px);
		h4 {
			color: #fff;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	
	.signup-block {
		.signup-title {
			font-weight: 300;
			text-align: center;
			font-size: 36px;
			margin-bottom: 15px;
			margin-top: 15px;
		}
		.icon {
	
		}
		.fdescription {
			text-align: center;
			color: $theme-text-color-light;
		}
		#id_supplyinfo {
			margin-bottom: 15px;
		}
		abbr.initialism {
			border:none;
		}
	}
}

//Guest login 
.guest-login-container {
	margin-top: 10px;
	p {
		margin-bottom: 5px;
	}
}

//social logins
.oauth-wrapper {
	margin-bottom: 15px;
	h6.oauth-title {
		font-weight: 300;
		font-size: 18px !important;
		text-align: center;
		margin-bottom: 15px;
	}
}
.potentialidp {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
	a.btn-social {
		position: relative;
	    background: $theme-text-color-secondary;
	    border: none;
	    color: #fff;
	    padding: 10px 15px;
	    font-weight: 500;
	    text-align: center;
	    
        
	    &:hover, &:active, &:focus {
	        background: darken($theme-text-color-secondary, 5%);
	        border: none;
	        color: #fff;
	        outline: none;
	    }
	    
	    .social-icon-image {
		    position: absolute;
		    left: 7px;
		    top: 7px;
		    min-width: 35px;
		    padding-right: 10px;
		    border-right: 1px solid rgba(0,0,0,.2);
		    display: inline-block;
	    }
	   
	}
	
	a.btn-Google {
        background: $google-color;
        
        .social-icon-image {
	        display: none;
        }
	    &:before {
		    position: absolute;
		    left: 16px;
		    top: 10px;
		    min-width: 24px;
		    content: "\f1a0";
			display: inline-block;
			font: normal normal normal 16px/1 FontAwesome;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    color: #fff;
		    margin-right: 5px;
		    padding-right: 10px;
	        border-right: 1px solid rgba(0, 0, 0, 0.2);
	        padding-top: 2px;
		}

	    .btn-text {
	        padding-left: 10px;
	        display: inline-block;
	        text-align: center;
	    }
	    
	    &:hover, &:active, &:focus {
	        background: darken($google-color, 5%);
	    }
	}
	
   
	a.btn-Facebook {
	    background: $facebook-color;
	    .social-icon-image {
	        display: none;
        }
	    &:before {
		    position: absolute;
		    left: 16px;
		    top: 10px;
		    min-width: 24px;
		    content: "\f09a";
			display: inline-block;
			font: normal normal normal 16px/1 FontAwesome;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    color: #fff;
		    margin-right: 5px;
		    padding-right: 10px;
	        border-right: 1px solid rgba(0, 0, 0, 0.2);
	        padding-top: 2px;
		}

	    .btn-text {
	        padding-left: 10px;
	        display: inline-block;
	        text-align: center;
	    }

	    &:hover, &:active, &:focus {
	        background: darken($facebook-color, 5%);
	    }
	}
	
	
	a.btn-Microsoft {
	    background: $microsoft-color;
	    .social-icon-image {
	        display: none;
        }
	    &:before {
		    position: absolute;
		    left: 16px;
		    top: 10px;
		    min-width: 24px;
		    content: "\f17a";
			display: inline-block;
			font: normal normal normal 16px/1 FontAwesome;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    color: #fff;
		    margin-right: 5px;
		    padding-right: 10px;
	        border-right: 1px solid rgba(0, 0, 0, 0.2);
	        padding-top: 2px;
		}

	    .btn-text {
	        padding-left: 10px;
	        display: inline-block;
	        text-align: center;
	    }
	    &:hover, &:active, &:focus {
	        background: darken($microsoft-color, 5%);
	    }
	}
	
	a.btn-Twitter {
	    background: $twitter-color;
	    .social-icon-image {
	        display: none;
        }
	    &:before {
		    position: absolute;
		    left: 16px;
		    top: 10px;
		    min-width: 24px;
		    content: "\f099";
			display: inline-block;
			font: normal normal normal 16px/1 FontAwesome;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    color: #fff;
		    margin-right: 5px;
		    padding-right: 10px;
	        border-right: 1px solid rgba(0, 0, 0, 0.2);
	        padding-top: 2px;
		}

	    .btn-text {
	        padding-left: 10px;
	        display: inline-block;
	        text-align: center;
	    }
	    &:hover, &:active, &:focus {
	        background: darken($twitter-color, 5%);
	    }
	}
	
	a.btn-LinkedIn {
	    background: $linkedin-color;
	    .social-icon-image {
	        display: none;
        }
	    &:before {
		    position: absolute;
		    left: 16px;
		    top: 10px;
		    min-width: 24px;
		    content: "\f0e1";
			display: inline-block;
			font: normal normal normal 16px/1 FontAwesome;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    color: #fff;
		    margin-right: 5px;
		    padding-right: 10px;
	        border-right: 1px solid rgba(0, 0, 0, 0.2);
	        padding-top: 2px;
		}

	    .btn-text {
	        padding-left: 10px;
	        display: inline-block;
	        text-align: center;
	    }
	    &:hover, &:active, &:focus {
	        background: darken($linkedin-color, 5%);
	    }
	}


}


/* Login Page */
#page-login-index {

	.tool_dataprivacy {
		display: none;
	}
}

/* Password reset page */
#page-login-forgot_password {
	#page-wrapper {
		background: $smoky-white;
	}
	#region-main {
		background: white;
		max-width: 700px;
		margin: 30px auto;
		@include border-radius(0px);
		padding: 30px;
		position: relative;
		z-index: 10;
	}
	
	
	.tool_dataprivacy {
		display: none;
	}

}

.pagelayout-login #page {
	background: none;
}

