/********* Modal *********/
.modal-video {
	.modal-content {
		background: none;
		border: none;
		
	}
	.modal-header {
		border: none;
		position: relative;
		padding-top: 60px;
		button.close {
			text-shadow: none;
			color: #fff;
			position: absolute;
			z-index:10;
			right:14px;
			top: 23px;
			background: $theme-color-primary;
			width: 28px;
			height: 28px;
			line-height: 0;
			padding:0;
			text-align: center;
			@include border-radius(50%);
			@include opacity(1);
			
			&:hover {
				background: $theme-color-primary;
				@include opacity(1);
			}
		}
	}
	.modal-body {
		padding: 30px;
		
	}
}

@media (min-width: 544px) {
	.modal-video {
		.modal-dialog {
			max-width: 760px;
		}
	}
}


.modal-title, .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1 {
	font-size: 18px;
	
}

.modal-content, .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {
	border-color: $theme-border-color;
}

/* Misc */
.course-content ul li.section.main {
	border-left: none;
	border-right: none;
	border-top: 0;
}
.course-content .section-summary .section-title {
	margin-top: 15px;
}


/* Moodle 4.x */

.modal.show .modal-dialog {
	margin-top: 50px;
}
