/************* Override Moodle *************/

#page-wrapper {
	padding-bottom: 0;
	margin-bottom: 0;
	&:after {
		display: none;
		min-height: inherit;
	}
}
#footer {
	min-height: inherit;
}

/****** Main Block Area ******/

#region-main {
	//@extend %remove-card-box-shadow;
	& > .card {
		margin-bottom: 30px;
	}
}

#region-main  {
	h1 {
		font-size: 24px;
		font-weight: 500;
	}
	
	h2 {
		font-weight:500;
	    font-size: 22px;
	}
	h3 {
		font-size: 20px;
	}
	
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 14px;
	}
	
}

.course-content li.section li.activity {
	
	ul, ol, dl {
		margin-bottom: 1rem;
	}
	table {
		margin-bottom: 1rem;
	}
	
}

#region-main > .card, #page-enrol-users #region-main > #filterform, .que #region-main > .history, .userprofile .profile_tree #region-main > section, #region-main > .groupinfobox, #region-main > .forumpost, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #region-main > .yui-layout-unit-right, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #region-main > .yui-layout-unit-bottom, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages #region-main > .chat-message.course-theme, #region-main > .well {
	//@extend %remove-card-box-shadow;
}


.btn-secondary:active, .btn-default:active, .btn-secondary.active, .fp-viewbar:not(.disabled) a.checked, .btn-default.active, .open > .btn-secondary.dropdown-toggle, .open > .btn-default.dropdown-toggle {
	border-color: $theme-text-color-secondary;
	color: #fff;
	background: $theme-text-color-secondary;
}

.nav-tabs a.nav-link {
	color: $theme-text-color-secondary;
	&.active {
		color: $theme-text-color-primary;
	}
}

.table-striped tbody tr:nth-of-type(odd), table.collection tbody tr:nth-of-type(odd), table#explaincaps tbody tr:nth-of-type(odd), table#defineroletable tbody tr:nth-of-type(odd), table.grading-report tbody tr:nth-of-type(odd), table#listdirectories tbody tr:nth-of-type(odd), table.rolecaps tbody tr:nth-of-type(odd), table.userenrolment tbody tr:nth-of-type(odd), form#movecourses table tbody tr:nth-of-type(odd), #page-admin-course-index .editcourse tbody tr:nth-of-type(odd), .forumheaderlist tbody tr:nth-of-type(odd), table.flexible tbody tr:nth-of-type(odd), .generaltable tbody tr:nth-of-type(odd) {
	background: $smoky-white;
}

.table-hover tbody tr:hover, table.grading-report tbody tr:hover, .forumheaderlist tbody tr:hover, .generaltable tbody tr:hover, table.flexible tbody tr:hover, .category_subcategories tbody tr:hover, table#modules tbody tr:hover, table#permissions tbody tr:hover {
	background: darken($smoky-white, 2%);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link:hover {
	color: $theme-text-color-primary;
	font-weight: 500;
}

#page {
	margin-top: 0;
}

.dropdown-divider {
	background: $theme-divider-color;
}

.popover-region-container {
	border-color: $theme-divider-color;
	border: none;
	@include box-shadow(0 19px 38px rgba(0,0,0,0.30));
	color: $theme-text-color-secondary;
			
	.empty-message {
		color: $theme-text-color-light;
	}
}

.popover-region-header-container {
	border-color: $theme-divider-color;
	height: 35px;
    line-height: 35px;
    
}

.popover-region-header-text {
	line-height: 34px;
	margin-left: 5px;
}

.popover-region-footer-container {
	border-color: $theme-divider-color;
}

.content-item-container {
	border-color: $theme-divider-color;
}

.loginbox .potentialidp {
	display: inline-block;
}



#page-header {
	& > div {
		padding: 0 !important;
	}
    .card {
	    background: none;
	    border: none;
	    text-align: center;
    }
    .card-block {
	    padding-bottom: 0;
    }
}

.page-context-header .page-header-headings h1 {
	font-size: 24px;
	color: $theme-text-color-primary;
	margin-bottom: 10px;
}

.page-context-header .header-button-group a {
	color: $theme-text-color-secondary;
	font-weight:normal;
	&:hover {
		color: $theme-text-color-primary;
		text-decoration: underline;
	}
	.icon {
		color: $theme-text-color-light;
		vertical-align: inherit;
	}
}

//User profile page

.path-user .page-context-header {
	position: relative;
	padding-left: 130px;
	min-height: 115px;
	text-align: left;
}

.path-user .page-context-header .page-header-image {
	position: absolute;
	left: 0;
	top: 0;
}

.path-user .page-context-header .page-header-headings {
	float: none;
}

.path-user .page-context-header .header-button-group {
	float: none;
	margin-top: 15px;
	a {
		padding: 0;
		
		.icon {
			margin-left: 0;
			margin-rihght: 5px;
		}
	}
	span {
		margin-right: 10px;
	}
}






.text-muted, a.dimmed, a.dimmed:link, a.dimmed:visited, a.dimmed_text, a.dimmed_text:link, a.dimmed_text:visited, .dimmed_text, .dimmed_text a, .dimmed_text a:link, .dimmed_text a:visited, .usersuspended, .usersuspended a, .usersuspended a:link, .usersuspended a:visited, .dimmed_category, .dimmed_category a, .tag_feed .media .muted a, #page-admin-qtypes .disabled, #page-admin-qbehaviours .disabled, #page-admin-plugins #plugins-control-panel .pluginname .componentname, #page-admin-plugins #plugins-control-panel .version .versionnumber, #page-admin-plugins #plugins-control-panel .notes .requiredby, #plugins-check-page .page-description, #plugins-check-page #plugins-check .requires-ok, #plugins-check-page #plugins-check .displayname .plugindir, #plugins-check-page #plugins-check-available-dependencies .displayname .component, .block .minicalendar td.weekend, .section .activity .stealth, .course-content .section-summary .section-summary-activities .activity-count, .course-content ul li.section.hidden .sectionname > span, .course-content ul li.section.hidden .content > div.summary, .course-content ul li.section.hidden .activity .activityinstance, #course-category-listings .listitem[data-visible="0"], #course-category-listings .listitem[data-visible="0"] > div > a, #course-category-listings .listing-pagination-totals.dimmed, .fitem.disabled .fp-btn-choose, .form-defaultinfo, .form-label .form-shortname, .formsettingheading .form-horizontal, .no-felement.fstatic, .path-backup .backup_progress .backup_stage {
	color: $theme-text-color-light !important;
}


.card, #page-enrol-users #filterform, .que .history, .userprofile .profile_tree section, .groupinfobox, .forumpost, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit-right, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax .yui-layout-unit-bottom, .yui-skin-sam .yui-layout.path-mod-chat-gui_ajax #chat-messages .chat-message.course-theme, .well {
	@include border-radius(0);
	border: none;
}

.filemanager-container.card, .fp-navbar.card {
	border: 1px solid #bbb;
}

.breadcrumb {
	padding:0;
	background: none;
	color: $theme-text-color-light;
	font-size: 14px;
	a {
		color: darken($theme-text-color-light, 15%);
		&:hover {
			color: $theme-text-color-secondary;
		}
	}
}

.breadcrumb-item:first-child:before {
	display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0e4";
    font-size: 14px;
    margin-right: 5px;
    color: $theme-text-color-light;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: "/"
}

.breadcrumb-button {
	position: absolute;
	right: 15px;
	bottom: 20px;
	margin: 0;
	
}

img.userpicture {
	@include border-radius(50%);
}

.settingsform {
	h2 {
		font-weight:normal;
		font-size: 18px;
	}
}


.course-content {
	.sectionname {
		font-size: 20px;
		color: $theme-text-color-primary;
		a {
			color: $theme-text-color-primary;
		}
	}
}


.path-mod-assign div[data-region="grading-navigation-panel"] {
	background: #fff;
	@include box-shadow(0px 1px 4px 0px rgba(0,0,0,.1));
	border-bottom: none;
	z-index: 10;
	a {
		color: $theme-text-color-secondary;
	}
}

.path-mod-assign div[data-region="grade-panel"].fullwidth {
	background: $theme-bgcolor;
	

}

.path-mod-assign div[data-region="user-info"] {
	.img-rounded {
		height: 60px;
		@include border-radius(50%);
	}
	h4 {
		font-size: 24px;
		
	    a {
			color: $theme-text-color-primary;
			
			em {
				margin-top: 5px;
				color: $theme-text-color-light;
				font-size: 15px;
				font-weight: normal;
		    }
		}
		
		
		
	}
}

.path-mod-assign div[data-region="assignment-info"] {
	font-size: 14px;
}


.path-mod-assign div[data-region="user-selector"] a {
	text-decoration: none;
	color: $theme-text-color-light;
}

.path-mod-assign [data-region="review-panel"].collapsed + [data-region="grade-panel"] [data-region="grade"], .path-mod-assign [data-region="grade-panel"].fullwidth [data-region="grade"] {
	background: #fff;
	padding: 30px;
}

.path-mod-assign div[data-region="grade-actions-panel"] {
	background: #fff;
	@include box-shadow(0px -1px 4px 0px rgba(0,0,0,.1));
	border-top: none;
}

.path-mod-assign td.submissiongraded, .path-mod-assign div.submissiongraded {
	background: #d4edda;
	color: #155724;
}

.path-mod-assign .overdue font{
	color: #dc3545 !important;
	font-size: 14px;
}

.path-mod-assign div[data-region="grade-panel"] h3 {
	color: $theme-text-color-primary;
}

.path-mod-assign td.submissionstatus, .path-mod-assign div.submissionstatus, .path-mod-assign a:link.submissionstatus {
	color: $theme-text-color-light;
	background: $smoky-white;
}

.path-mod-assign div.submissionstatus, .path-mod-assign div.submissiongraded {
	padding: 5px;
	font-size: 14px;
}

.progress-chart-container .no-progress .icon {
	width: 30px;
	height: 30px;
	margin-left: -2px;
	margin-top: -2px;
}

.block_myoverview .courses-view-course-item {
	//@extend %card-box-shadow;
	border: 1px solid $theme-border-color;
	
	
}
.block_myoverview .content-centred {
	max-width: 1200px;
}

.block_myoverview {
	
    h4 a {
		color: $theme-text-color-primary;
	}

	
}

.block_myoverview .event-list-item .event-name-container .event-name {
	color: $theme-text-color-primary;
}

#myoverview_timeline_courses {
	ul[data-region="course-block"] > .list-group-item {
		@include box-shadow(0 1px 2px rgba(0,0,0,.1));
		@include border-radius(0);
		margin-bottom: 30px !important;
	}
	
	.btn-secondary.text-primary{
		color: $theme-text-color-secondary !important;
		&:hover {
			color: $theme-text-color-primary !important;
		}
	}
}

.tag-default {
	background: $theme-text-color-secondary;
}

.btn-group .btn {
	font-size: 14px;
}
	

.collapsible-actions .collapseexpand {
	color: $theme-text-color-light;
	&:hover {
		color: $theme-text-color-secondary;
	}
}

.section .activity .activityinstance {
	a {
		color: $theme-text-color-secondary;
	}
}

.initialbar .letter.active {
	border-color: $theme-color-primary;
	background-color:$theme-color-primary;
}

.initialbar .letter {
	color: $theme-text-color-secondary;
	border-color: $theme-text-color-secondary;
	&:hover {
		color: $theme-color-primary;
		background: #fff;
		text-decoration: none;
	}
}

.messaging-area-container .messaging-area .contacts-area .contacts .contact.selected {
	background: $theme-text-color-secondary;
	color: #fff;
}

.messaging-area-container .messaging-area.hide-messages .contacts-area .contact.selected:hover {
	background: $theme-text-color-primary;
	color: #fff;
}

.messaging-area-container a, .messaging-area-container .btn.btn-link, .messaging-area-container #page-grade-grading-manage .actions .action.btn-link, #page-grade-grading-manage .actions .messaging-area-container .action.btn-link, .messaging-area-container #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.btn-link, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel .messaging-area-container input.btn-link, .messaging-area-container #rubric-rubric.gradingform_rubric .addcriterion.btn-link, #rubric-rubric.gradingform_rubric .messaging-area-container .addcriterion.btn-link {
	color: $theme-color-primary;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tab.selected {
	color: $theme-color-primary;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tab:hover {
	color: $theme-color-primary;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tab {
	font-size: 14px;
}

.messaging-area-container .messaging-area .contacts-area .tabs .tab .tabimage {
	height: 24px;
    line-height: 24px;
    
}

.messaging-area-container .messaging-area .messages-area .messages-header .name-container .name {
	.btn-link {
		color: $theme-text-color-secondary;
	}
}

.messaging-area-container .messaging-area .messages-area .messages .message .content {
	font-size: 14px;
}

.pagelayout-coursecategory {
	.course_category_tree {
		margin-bottom: 30px;
	}
	.coursebox {
		border: 1px solid $theme-border-color;
	}
}

.quizattempt .singlebutton {
	margin-bottom: 15px;
}

.instanceshufflequestions label {
	font-size: 14px;
}

#page-admin-setting-maintenancemode {
	.breadcrumb-button > a {
		margin-left: 10px;
		color: $theme-color-primary;
		font-weight: bold;
		line-height: 36px;
	}
}

.path-mod-forum :target~.forumpost:before {
	background: lighten($theme-color-primary, 15%);
}

.badge-important {
	background: $theme-color-counter;
}

.singlebutton.forumaddnew {
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.fp-dlg-buttons {
	.btn {
		margin-bottom: 10px;
	}
}


/****** Sideblocks ******/
#block-region-side-pre {
	
	.card-block {
		//@extend %card-box-shadow;
	}
	h3.card-title {
		font-size: 18px;
		color: $theme-text-color-primary;
		font-weight: 500;
		border-bottom: 1px solid $theme-border-color;
		padding-bottom: 10px;
		margin-bottom: 15px;

	}
	.card-text.content {
		font-size: 14px;
		h3 {
			font-size: 16px;
		}
		.activityhead {
			margin-bottom: 15px;
		}
	}

	.tag_cloud {
		font-size: 10px;
	}
	
	.block .calendar-controls  {
		a {
			color: $theme-text-color-light;
			&:hover {
				color: $theme-text-color-secondary;
				text-decoration: underline;
			}
		}
	}
	
	.block_news_items {
		.newlink {
			margin-bottom: 10px;
		}
		.post {
			margin-bottom: 5px;
			.head {
				font-size: 13px;
				color: $theme-text-color-light;
				line-height: 1.2;
			}
			.info {
				a{
					color: $theme-text-color-secondary;
					font-weight:500;
					
				}
			}
		}
	}
	
	.comment-area textarea {
		border-color: $theme-border-color;
	}
}

.block_myprofile .myprofileitem.fullname {
	font-size: 14px;
	line-height: 1.4;
	margin-top: 10px;
}

.block_myprofile img.profilepicture {
	@include border-radius(50%);
}

.path-enrol {
	.course-item-inner {
		padding-left: 250px;
		position: relative;
		@include box-shadow(0 1px 2px rgba(0,0,0,.1));
		border: 1px solid $theme-border-color;
		.course-thumb-holder{
			background-color: $smoky-white;
			text-align: center;
			position: absolute;
			width: 220px;
			height: 140px;
			left: 0;
			top: 0;
			&.hasimage {
				overflow: hidden;
			}
			&.noimage {
				padding: 30px;
			}
			
			.material-icons {
				width: 80px;
				height: 80px;
				display: inline-block;
				margin: 0 auto;
				background: #fff;
				@include border-radius(50%);
				padding-top: 20px;
				color: $theme-text-color-secondary;
				position: relative;
				top: 50%;
				margin-top: -40px;
				text-align: center;
				font-size: 36px;
				
			}
			
		}
		
		.course-thumb {
			max-width: 100%;
			height: auto;
			text-align: center;
			
		}
		
		.course-content-wrapper {
			padding: 15px;
		    min-height: 140px;
			
		}
		.course-title {
			font-size: 18px;
			color: $theme-text-color-primary;
			font-weight: 500;
			@include truncate(700px);
			a {
				color: $theme-text-color-primary;
			}
		}
		.course-summary {
			font-size: 14px;
			overflow: hidden;
			line-height: 1.4;
			//height: 2.5rem;
		}
		.course-meta {
			position: absolute;
			right: 10px;
			top: 5px;
			.icon {
				margin-right: 0;
				& + .icon {
					margin-left: 5px;
				}
			}
			.icon[title="Stripe Payment"] {
				width: 60px;
				height: auto;
	
			}
			.icon[title="PayPal"] {
				width: 70px;
				height: auto;
	
			}
		}
		.teachers {
			margin-top: 10px;
			margin-bottom: 0;
			font-size: 14px;
			list-style: none;
			padding-left: 0;
			color: lighten($theme-text-color-secondary, 15%);
			li {
				font-size: 12px;
				display: inline-block;
				
			}
			a {
			     color: lighten($theme-text-color-secondary, 15%);
			}
		}
	}
}

/******* Settings *******/

.mform fieldset.collapsible legend a.fheader {
	color: $theme-text-color-primary;
}

/* In-course Bootstrap components */
/* Basics */
.mb-0 {
	margin-bottom: 0;
}
	
/* reset card styling in course content */
.course-content, .editor_atto, #gridshadebox, .moodle-dialogue-base {
	.card {
		@include border-radius(0.25rem);
	    border: 1px solid rgba(0, 0, 0, 0.125);
	    
	    .card-img-top{
			max-width: 100%;
			height: auto;
		}
	}
	.card-body {
		padding: 1.25rem;
		
	}
	.btn {
		&.has-icon {
			.fa {
				margin-right: 5px;
			}
		}
		
	}
	.btn-link {
		color: $theme-color-primary;
		&:hover {
			color: darken($theme-color-primary, 10%);
		}
	}
	.badge {
		font-size: 14px;
		vertical-align: middle;
		@include border-radius(2px);
		&.badge-pill {
			@include border-radius(10rem);
			padding-right: .6em;
            padding-left: .6em;
            vertical-align: middle;
		}
	}
	
	.badge-default {
		background: $theme-text-color-secondary;
	}
	.badge-primary {
		background: $theme-color-primary;
	}

	.badge-success {
		background: #28a745;
	}
	.badge-warning {
		background: #ffc107;
		color: #212529;
	}
	.badge-danger {
		background: #dc3545;
	}
	
	.modal-header .close {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav.nav-tabs {
		margin-bottom: 1rem;
	}
	.nav-tabs .nav-item {
		list-style: none;
	}
	
	.btn-group .dropdown-menu {
		list-style:none;
		margin-top: 0;
		left: 0;
		right: auto;

	}
	
	li.section.main .activity .no-overflow, li.section.main .summary>.no-overflow {
        overflow: inherit;
	}

	
}


.tag, .statusok, .statuswarning, .statusserious, .statuscritical, .assignfeedback_editpdf_widget .label, .label, .badge {
	@include border-radius(2px);
}

	
/* Atto fullscreen */
.atto-fullscreen #topcontrol {
	display: none;
}

.course-content .current::before {
	border-color: $theme-color-primary;
}

.nav-pills .nav-item {
	margin-right: 10px;
	&:last-child {
		margin-right: 0;
	}
}

.nav-pills .nav-link {
	color: $theme-color-primary;
	@include border-radius(4px);
	font-weight: bold;
	&:hover {
		background: $smoky-white;
		
	}
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background: $theme-color-primary;
	font-weight: bold;
	
}


.block_myoverview .courses-view-course-item {
	&>a {
		display: block;
		overflow: hidden;
	}
}


.card-deck .myoverviewimg.courseimage {
	overflow: hidden;
	@include transition (all 0.4s ease-in-out);
	&:hover {
		@include scale(1.1);
	}
}

.card-deck .myoverviewimg.coursepattern {
	background: $smoky-white;
	background-image: none !important;
	position: relative;
	
	
	&:before {
		@include transition (all 0.4s ease-in-out);
		position: absolute;
		text-align: center;
		left: 50%;
		margin-left: -40px;
		top: 50%;
		margin-top: -40px;
		width: 80px;
		height: 80px;
		padding-top:23px;
		color: $theme-text-color-secondary;
		background: #fff;
		@include border-radius(50%);
		
		content: "\f19d";
		display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: 36px;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    text-align: center;
	}
	
	&:hover {
		&:before {
			@include scale(1.1);
		}
	}
	
}

#page-navbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

.context-header-settings-menu .dropdown-toggle>.icon, #region-main-settings-menu .dropdown-toggle>.icon {
	margin-right: 0;
	
}

.context-header-settings-menu .dropdown-toggle {
	&::after {
		position: relative;
		top: -2px;
	}
}

.bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::before {
	top: -8px;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after {
	top: -7px;
}

.card-block {
	padding: 1.25rem;
}

#region-main h4.card-title {
	font-size: 24px;
}

#region-main h5.card-title {
	font-size: 20px;
}

.path-mod-assign [data-region="grade-actions-panel"] [data-region="grade-actions"] .collapse-buttons {
	height: inherit;
}

.modal-content {
	border: none;
}

.course-content .card {
	margin-bottom: 15px;
}


@media (min-width: 992px) {
	.course-content .card-deck .card {
		flex-basis: 30%;
	}
}


/*  new */
.path-course-view.editing li.activity span.autocompletion img{
	width:20px;
	height: 20px;
}

.path-course-view li.activity form.togglecompletion img {
	width:20px;
	height: 20px;
}

.fp-filename-icon img.icon  {
	width: 24px;
	height: 24px;
}

.activity img.activityicon {
	vertical-align: middle;
}

.path-course-view .completionprogress {
	float: none;
	height: inherit;
}


.path-user.path-course .page-context-header {
	padding-left: 0;
	min-height: inherit;
}


.path-course-view li.activity form.togglecompletion .btn {
	outline: none;
}

.btn:focus, #page-grade-grading-manage .actions .action:focus, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input:focus, #rubric-rubric.gradingform_rubric .addcriterion:focus, .btn:active:focus, #page-grade-grading-manage .actions .action:active:focus, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input:active:focus, #rubric-rubric.gradingform_rubric .addcriterion:active:focus, .btn.active:focus, #page-grade-grading-manage .actions .action.active:focus, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.active:focus, #rubric-rubric.gradingform_rubric .addcriterion.active:focus, .btn.focus, #page-grade-grading-manage .actions .action.focus, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.focus, #rubric-rubric.gradingform_rubric .addcriterion.focus, .btn:active.focus, #page-grade-grading-manage .actions .action:active.focus, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input:active.focus, #rubric-rubric.gradingform_rubric .addcriterion:active.focus, .btn.active.focus, #page-grade-grading-manage .actions .action.active.focus, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input.active.focus, #rubric-rubric.gradingform_rubric .addcriterion.active.focus {
	outline: none;
}


/* Calendar */
.block .calendar_filters li {
	margin-bottom: 10px;
}
.path-calendar .maincalendar .bottom {
	padding-top: 30px;
}
.calendar_event_site {
	background: #74C181;
	border-color: #74C181;
	@include border-radius(2px);
	.icon {
		color: #fff;
	}
	.modal-title {
		color: #fff;
	}
	&>a {
		color: #fff;
	}
}
.calendar_event_category {
	background: #9E6FB2;
	border-color: #9E6FB2;
	@include border-radius(2px);
	.icon {
		color: #fff;
	}
	.modal-title {
		color: #fff;
	}
	&>a {
		color: #fff;
	}
}
.calendar_event_course {
	background: #F77B6A;
	border-color: #F77B6A;
	@include border-radius(2px);
	.icon {
		color: #fff;
	}
	.modal-title {
		color: #fff;
	}
	&>a {
		color: #fff;
	}
}

.calendar_event_group {
	background: #FF9800;
	border-color: #FF9800;
	@include border-radius(2px);
	.icon {
		color: #fff;
	}
	.modal-title {
		color: #fff;
	}
	&>a {
		color: #fff;
	}
}

.calendar_event_user {
	background: #3EBABE;
	border-color: #3EBABE;
	@include border-radius(2px);
	.icon {
		color: #fff;
	}
	.modal-title {
		color: #fff;
	}
	&>a {
		color: #fff;
	}
}


.path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_site {
	background: #74C181;
}

.path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_category {
	background: #9E6FB2;
}


.path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_course {
	background: #F77B6A;
}

.path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_group {
	background: #FF9800;
}

.path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_user {
	background: #3EBABE;
}







.path-calendar .maincalendar .calendar_event_course {
	border-color: #f44336
}

.modal .modal-header, .modal .modal-header .modal-title,  .modal .modal-header .close {
	outline: none;
}

.close, .moodle-dialogue-base .closebutton {
	text-shadow: none;
}

.modal-content, .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {
	border: none;
}

.block .calendar_filters li .icon {
	padding: 5px;
	margin: 0;
}


/* Courses page */
#page-course-index .course_category_tree{
	max-width: 960px;
	margin: 0 auto;
}

#page-course-index .course_category_tree .subcategories {

	.courses {
		margin-bottom: 15px;
		margin-top: 15px;
	}
}

/* Category pages */
#page-course-index-category .course_category_tree{
	max-width: 960px;
	margin: 0 auto;
}

#page-course-index-category .course_category_tree .courses {
	margin-bottom: 15px;
    margin-top: 15px;
}

#page-course-index .category {
	margin-bottom: 15px;
    padding: 15px;
    background: #fff;
    //@extend %card-box-shadow;
    border: 1px solid $theme-border-color;
    &.loaded {
	    .categoryname {
		    margin-bottom: 15px;
	    }
    }
    
    &.collapsed {
	    .categoryname {
		    margin-bottom: 0;
	    }
    }
    
    &.notloaded {
	    .categoryname {
		    margin-bottom: 0;
	    }
    }
    
    .categoryname {
	    font-weight:400;
	    a {
		    color: $theme-text-color-primary;
		    
		    &:hover {
			   text-decoration: underline;
		    }
		}
    } 
    
}

.jsenabled .collapsible-actions {
	margin-bottom: 15px;
}

#page-course-index-category .generalbox.info {
	padding: 15px;
}

#page-course-index-category {
	.categoryname a {
	    color: $theme-text-color-primary;
	    
	    &:hover {
		   text-decoration: underline;
	    }
	}
	
}

#page-course-index .category .categoryname a {
	color: #fff;
}
#page-course-index .category {
	border: none;
	padding: 0;
}

/* GDPR Plugin */

#page-user-policy.path-user .page-context-header {
	min-height: auto;
	padding-left: 0;
} 

.content-item-container:hover .content-item-footer .timestamp {
	color: $theme-text-color-secondary;
}

/* Course Competency */
div[data-region="coursecompetencyactivities"] .list-inline-item img {
    width: 24px;
}

/* Course participants */
.path-user.path-course .userprofile .page-context-header {
	padding-left: 130px;
	min-height: 115px;
}

/* Moodle 3.5 BS carousel fix */
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* Course List styles - Cards and Masonry */

.style-cards {
    .course-thumb-holder {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    height: 160px;
    }
}

.style-cards  {
	overflow-x: hidden;
	&.row {
		margin-left: 0;
		//margin-right: 0;
	}
	.theme-course-item {
		padding-left: 0;
		border: none;
        background: none;
        @include box-shadow(none);
        padding-bottom: 10px;
        &:last-child {
	        margin-bottom: 30px;
        }
	}
	
	.course-item-inner {
		height: 100%;
		border: 1px solid #eee;
        background: #fff;
        position: relative;
        //@extend %card-box-shadow;
        
	}
	.course-meta {
		top: inherit;
		bottom: 10px;
		background: #fff;
	}
	.course-thumb-holder{
		width: 100%;
		position: static;
		&.hasimage {
			width: 100%;
			
		}
		&.noimage {
			position: relative;
			text-align: center;
			.material-icons {
			    position: absolute;
			    left: 50%;
			    margin-left: -40px;
			}
		}
	}
}

.pagelayout-frontpage #region-main>.card.card-block{
	overflow-x: hidden;
}

.style-masonry {
	.theme-course-item {
		display: inline-block;
		width: 100%;
		padding-left: 0;
		&:last-child {
	        margin-bottom: 30px;
        }
	}
	.course-meta {
		top: inherit;
		bottom: 10px;
	}
	.course-thumb-holder{
		width: 100%;
		position: static;
		min-height: 140px;
		height: auto;
		&.hasimage {
			width: 100%;
			
		}
		&.noimage {
			position: relative;
			text-align: center;
			.material-icons {
			    position: absolute;
			    left: 50%;
			    margin-left: -40px;
			}
		}
	}
}



/* Owl carousel moodle 3.5+ flex box issue fix (frontpage promo) */
.owl-carousel .owl-item.active {
	z-index: 10;
}


/* Moodle 3.5+ new overrides */
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
	background-color: darken($theme-color-primary, 5%);
    border-color: darken($theme-color-primary, 5%);
}

.page-item.active .page-link {
	background-color: $theme-color-primary;
	border-color: $theme-color-primary;
	color: #fff;
}
.page-link {
	color: $theme-color-primary;
	&:hover {
		color: darken($theme-color-primary, 5%);
	}
	&:focus {
		@include box-shadow(none);
	}
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active, .dropdown-item:active {
	background: inherit;
}

.modal .modal-header .close {
	right: 10px;
	top: 10px;
}


/* Moodle course video */
.mediaplugin_videojs > div {
	max-width: 100% !important;
}

/* Global search */
.page-header .utilities .search-input-wrapper div[role="button"] {
	padding-top: 0;
	top: -5px;
	position: relative;
}

.search-input-wrapper.expanded {
	width:300px;
}

/* RTL support */
.dir-rtl .promo-section .item-control .play-trigger {
	padding-right: 0;
}

/* Moodle 3.6+ */
//header
.page-header .utilities .popover-region-toggle .fa-comment{
	//padding-top: 4px;
	color: rgba(256,256,256,.8);
	&:hover {
		color: #fff;
	}
}

//frontpage 
#site-news-forum .forumpost {
	background: #fff;
}
#site-news-forum .options .commands.nav a {
	color: $theme-color-primary;
}

//User tour 
span[data-flexitour="container"] {
	z-index:99999 !important;
}
span[data-flexitour="container"][x-placement="bottom"] div[data-role="arrow"], span[data-flexitour="container"][x-placement="bottom-start"] div[data-role="arrow"] {
	top: -17px;
}
span[data-flexitour="container"][x-placement="top"] div[data-role="arrow"], span[data-flexitour="container"][x-placement="top-start"] div[data-role="arrow"] {
	bottom: -15px;
}
span[data-flexitour="container"][x-placement="right"] div[data-role="arrow"], span[data-flexitour="container"][x-placement="right-start"] div[data-role="arrow"] {
	left:-17px;
	margin-top: -8px;
}
span[data-flexitour="container"][x-placement="left"] div[data-role="arrow"], span[data-flexitour="container"][x-placement="left-start"] div[data-role="arrow"] {
	right: -17px;
    margin-top: -8px;
}
span[data-flexitour="container"] .modal-dialog {
	border:1px solid rgba(0,0,0,.25);
}

//dashboard
.progress-bar {
	background: $theme-color-new;
}
.block .block-cards .progress {
	border: none !important;
	background-color: $smoky-white !important;
	margin-bottom: 5px;
}

.block .block-cards .course-summaryitem {
	//@extend %card-box-shadow;
	border-color: $theme-border-color;
}

span[data-region="favourite-icon"] .icon{
	color: $star-rating !important;
}

.card.dashboard-card {
	//@extend %card-box-shadow;
	border: 1px solid $theme-border-color;
}

.card-img.dashboard-card-img {
	@include border-radius(0);
}



//dropdown buttons

.dropdown-item:hover, .dropdown-item:focus {
	background: inherit;
}

#page {
	
	.dropdown-item.active, .dropdown-item:active {
	    
        background-color: $theme-color-primary;
        a[role="menuitem"] {
	        color: #fff;
	        .icon.fa {
		        color: #fff;
	        }
        }
    }
}

//sidebar
[data-region="blocks-column"] {
	width:250px;
}

#region-main-settings-menu.has-blocks, #region-main.has-blocks {
	width: calc(100% - 265px);
}

#block-region-side-pre .block-myoverview .btn.dropdown-toggle {
	padding: 4px 10px;
	
}

@media (max-width: 1199.98px) {
	#region-main-settings-menu.has-blocks, #region-main.has-blocks {
        width: 100%;
	}
	[data-region="blocks-column"] {
	width: 100%;
    }
}

//message drawer

.message-drawer .clickable.bg-secondary {
	background: $smoky-white !important;
}

.message-drawer .card-header .icon {
	color: $theme-text-color-secondary;
}

.message-drawer {
	.input-group-text {
		border-color: $theme-border-color;
	}
	.footer-container {
		button.btn[data-action="send-message"] {
			background: $theme-color-primary;
		}
	}
	.fa-star.icon {
		color: $theme-color-primary !important;
	}
}

// Misc
.pagelayout-frontpage #coursesearch {
	display: block;
}
#page-course-index-category #coursesearch {
	display: block;
}

#page #region-main>.card {
    //padding: 30px;
    background: #fff;
    @include border-radius(4px);
    //border: 1px solid $theme-border-color;
    border-top: 3px solid $theme-color-primary;
}

.pagelayout-frontpage #page #region-main>.card {
	border: none; 
	background:none;
}

#block-region-side-pre {
	.block.card {
		@include border-radius(0);
		border:none;
		background: $smoky-white;
		border-top: 2px solid $theme-color-primary;
	}
}

.course-content .card-header .btn-link {
	background: none;
}

.course-content .nav.nav-tabs {
	margin-bottom: 0;
}

.switch input:checked + label::before {
	background-color: $theme-color-primary;
}
.custom-control-input:checked~.custom-control-label::before {
	background-color: $theme-color-primary;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: $theme-color-primary;
}

//my dashboard
.pagelayout-mydashboard #region-main {
   .block-region {
	   .block.card {
		   background: $smoky-white;
		   border-top: 2px solid $theme-color-primary;
	   }
   }
}

#page-my-index {
	background:none;
	.course-summaryitem {
		h6 {
			font-size: 16px;
		}
	}
	.coursemenubtn {
		.fa {
			color: $theme-text-color-secondary;
		}
		
		&:hover {
			border: none;
		}
	}
}

//login
#page-login-index {
	background: $smoky-white;
}


//message app

.message-app .clickable.bg-secondary {
	background: $smoky-white !important;
}

.message-app .card-header .icon {
	color: $theme-text-color-primary;
}

.message-app {

	.fa-star.icon {
		color: $theme-color-primary !important;
	}
}

.message-app .message.send .tail {
	border-bottom-color: $smoky-white;
}


//Dashboard
.block_myoverview {
	div[data-region="filter"] {
		margin-bottom: 15px;
	}
	.course-summaryitem {
		margin-bottom: 15px;
	}
}

//Theme selector
#page-admin-theme-index {
	.well {
		img {
			max-width: 100%;
		}
	}
}

//Misc 
.path-calendar .maincalendar .calendar_event_course {
	border: none;
	h3 {
		color: #fff;
		margin-bottom: 0;
	}
}

.pagination {
	.page-item {
		.page-link {
			color: $theme-text-color-secondary;
			&:hover {
				color: $theme-text-color-primary;
			}
		}
		&.disabled {
			.page-link {
				color: lighten($theme-text-color-light, 15%);
				&:hover {
					color: lighten($theme-text-color-light, 15%);
				}
			}
		}
	}
}

#site-news-forum .forumpost {
	padding: 30px !important;
}




// Moodle 3.8
#region-main-box {
	margin-bottom: 30px;
}
.region_main_settings_menu_proxy {background:none;}

#page-course-index-category .course_category_tree .category>.info>.categoryname a {
	color: #fff;
}

#page-course-index-category #coursesearch {
	margin-bottom: 15px;
}

#region-main #site-news-forum h3 {
	font-size: 16px;
}
#region-main .forumpost h3.h6 {
	font-size: 16px;
}
.post-actions .btn-link{
	font-size: 14px;
}

.path-mod-forum .forum-post-container:first-child {
	margin-top: 15px;
}

.moodle-dialogue-base button.closebutton {
	background-image: none;
	&:focus {
		outline:none;
	}
}
.moodle-dialogue .yui3-button-hover, .moodle-dialogue  .yui3-button:hover {
	background-image: none;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .closebutton {
	margin: 0;
}

.discussion .btn-link .menu-action-text .icon.fa {color: $theme-color-primary}

.message-app .footer-container .btn.btn-link.btn-icon, .message-app .header-container .btn.btn-link.btn-icon {
	background: $theme-color-primary;
	&:hover {
		background: darken($theme-color-primary, 10%);
	}
}

@media (min-width: 576px) {
	.form-inline .form-control {
	    height: auto;
	}
	.form-inline .input-group, .form-inline .custom-select {
		height: auto;
	}
}

.pagelayout-frontpage #coursesearch, .pagelayout-coursecategory #coursesearch{
	text-align: center;
	.coursesearchbox {
		margin:  auto;
		display: inline-block;
	}
}

/* Moodle 3.9 */
.text-primary {
	color: $theme-color-primary !important;
}
.optionactions.btn-group>.btn {
	@include border-radius(50% !important);
}
.btn-link .fa, button.btn-link .fa {
	color: $theme-color-primary;
}
button.btn-link:hover, .btn-link:hover, button.btn-link:active, .btn-link:active {
	background: none;
}
.modchoosercontainer .nav-tabs {
	margin-bottom: -1px !important;
	.nav-link:hover, .nav-link:focus {
		border-bottom: none;
	}
}

.modchoosercontainer .optionactions .btn-icon .fa {
	color: inherit;
}


.aalink.focus, #page-footer a:not([class]).focus, .arrow_link.focus, a:not([class]).focus, .activityinstance>a.focus, .aalink:focus, #page-footer a:not([class]):focus, .arrow_link:focus, a:not([class]):focus, .activityinstance>a:focus {
	background: inherit;
	@include box-shadow(none);
	color: inherit;
}

.aabtn.focus, .btn-link.focus, .nav-link.focus, .atto_link_button.focus, [role="button"].focus, .list-group-item-action.focus, input[type="checkbox"].focus, input[type="radio"].focus, input[type="file"].focus, input[type="image"].focus, .sr-only-focusable.focus, a.dropdown-item.focus, a.dropdown-toggle.focus, .modal-dialog[tabindex="0"].focus, .moodle-dialogue-base .closebutton.focus, button.close.focus, .aabtn:focus, .btn-link:focus, .nav-link:focus, .atto_link_button:focus, [role="button"]:focus, .list-group-item-action:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, input[type="file"]:focus, input[type="image"]:focus, .sr-only-focusable:focus, a.dropdown-item:focus, a.dropdown-toggle:focus, .modal-dialog[tabindex="0"]:focus, .moodle-dialogue-base .closebutton:focus, button.close:focus {
	@include box-shadow(none);
}

*:focus {
	outline: none;
}

button.btn-link:focus {
	background: none;
	color: darken($theme-color-primary, 10%);
}


.moodle-dialogue-base .moodle-dialogue.filepicker .moodle-dialogue-bd{
	height: inherit !important;
}

.moodle-dialogue-base .closebutton::after {
	color: $theme-text-color-secondary;
}

/* Moodle 3.10+ */
#page-course-editdefaultcompletion {
	.modules {
		img {
			height: 24px;
		    width: 24px;
		    vertical-align: middle;
		}
	}
}

#page-enrol-index {
	
	button#card-button, button#card-button-zero {

	    font-weight: 700;
	    padding: 8px 20px;
		background: $theme-color-primary;
	    border: 2px solid $theme-color-primary;
	    color: #fff;
	    font-size: 16px;
	
	
	    &:hover, &:active, &:focus, &.hover, &.active, &.focus {
	        background: darken($theme-color-primary, 5%);
	        border: 2px solid darken($theme-color-primary, 5%);
	        color: #fff;
	        outline: none;
	        @include box-shadow(none);
	    }
	}
	
	button#apply {
		font-weight: 700;
		font-size: 16px;
		background: #fff;
	    border: 2px solid $theme-text-color-secondary;
	    color: darken($theme-text-color-secondary, 10%);
	    padding: 8px 20px;
	
	    &:hover, &:focus, &.hover, &.focus{
	        background: #fff;
	        border: 2px solid darken($theme-text-color-secondary, 5%);
	        color: darken($theme-text-color-secondary, 5%);
	        outline: none;
	        @include box-shadow(none);
	    }

	}
	
	input#coupon {
		padding: 8px 20px;
	}
	
	p {
		text-align: center;
	}
	
}

body#page-enrol-index #region-main .generalbox:last-of-type {
	float: none !important;
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}


.course-item-inner .customfields-container {
	margin-top: 0.5rem;
}


#course-category-listings .listitem[data-selected='1'] {
	border-color: $theme-color-primary;
}
.path-course-view .page-header-wrapper.has-course-header-image .breadcrumb {
	border: none !important;
}

.usermenu:focus-within, div.dropdown-item:focus-within {
	box-shadow:none;
}

.has-logo h2.login-sitename a {
	@include transition (none);
}
.has-logo h2.login-sitename {
	margin-bottom: 3rem;
}

@media (min-width: 576px) {
	.section .label .mod-indent-outer {
	    padding-left: 0;
	}
}


#page-my-index #page #region-main>.card .card.block.block_advnotifications {
	border: none;
}


.mform fieldset:last-child {
	border-bottom: none;
}

.message-app .btn-link.btn-icon .icon{
	color: #fff;
	margin-right: 0;
}

.message-app .footer-container .emojis-container .btn.btn-link.btn-icon{
	background:none;
}


.course-content .accordion>.card {
	margin-bottom: 0;
}

.action-menu .dropdown-menu {
	.dropdown-item:active a, .dropdown-item:hover a, .dropdown-item:focus a, .dropdown-item:focus-within a {
		color: black;
	}
}

.theme-course-item .teachers li {
    margin-right: 5px;
}



/* Moodle 3.11+ */
.btn.btn-outline-success {
	border: 1px solid #28a745;
	.fa {
		color: #28a745;
	}
	&:hover {
		background: #28a745;
		.fa {
			color: #fff;
			
		}
	}
}


.section .activity .activityinstance + .activity-information{
	display: inline-block;
	//position: absolute;
	float:right;
	position: relative;
	right: 0;
	top: -4px;
	div[data-region='completion-info'] {
		.btn {
			padding: 4px 8px;
			font-size: 14px;
		}
	}
	
}

//Moodle 4.0

.page-header .utilities .usermenu .dropdown-toggle {
	padding: 0;
}
.page-header .utilities .usermenu .usertext {
	font-size: 12px;
	font-weight: normal;
}
.page-header .utilities .usermenu .carousel-item .header span.pl-2 {
	padding-left: 0 !important;
}

.page-header .utilities .usermenu .carousel-item .header .icon {
	margin-right: 0;
}
.page-header .utilities .usermenu .carousel-item .dropdown-item.pl-5 {
	padding-left: 1.5rem !important;
}
.dropdown-item[aria-current="true"]:before {
	font-size: 0.6rem;
	color: $theme-color-primary;
}

.page-header .utilities {
	.langmenu {
		#lang-menu-toggle {
			color: #fff;
			font-size: 12px;
			font-weight: normal;
			
		}
		
		#lang-action-menu {
			.dropdown-item {
				padding-right: 10px;
				padding-left: 20px !important;
			}
		}
	}
}


.page-header .simplesearchform .show{
	position: relative;
	height:31px;
	display:inline-block;
}

.page-header  {
	.simplesearchform .collapse.show, .simplesearchform .collapsing {
		background: none;
	}
}

.drawerheader button.drawertoggle {
	background: none;
	color: $theme-text-color-primary;
	.icon {
		color:  $theme-text-color-primary;
	}
}


.drawer-left-toggle, .drawer-right-toggle {
	top: 230px;
	.btn {
		background: darken($theme-text-color-primary, 5%);
		@include box-shadow(0 1px 2px rgba(0,0,0,.1));
	}
}

.drawer-left.show, .drawer-right.show{
	//z-index: 10;
	@include box-shadow(0 5px 10px rgba(0,0,0,0.2));
}


#block-region-side-pre .drawercontent .block>.card-body {
    @include box-shadow(0);
}

.moremenu .nav-tabs {
	border-bottom: none;
}
.moremenu .nav-tabs .nav-link {
	
}
.moremenu .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	border-color: transparent;
	color: $theme-text-color-primary;
	background: rgba(256, 256, 256, 0.6);
}

.courseindex .courseindex-item:hover, .courseindex .courseindex-item:focus {
	border-color: $smoky-white;
	background: $smoky-white;
}




#block-region-side-pre .calendar-controls  .arrow_text{
	font-size: 11px;
}

#block-region-side-pre .calendar-controls .current{
	font-size: 14px;
}

#page-wrapper #page {
	//height: auto;
}


.main-nav-wrapper .main-nav.navbar {
	padding: 0;
	.moremenu {
		height: 50px;
	}
}

.main-nav-wrapper .main-nav.navbar .nav-item {
	margin-left: 15px;
	.nav-link {
		height: 50px;

	}
}

#region-main-settings-menu {
	.action-menu {
		.icon.fa-circle {
			font-size: 10px;
		}
	}
}


#page-header .singlebutton {
	margin-left: 1rem;
}

#page-course-index-category .coursebox>.info {
	margin-bottom: 0;
}



.main-nav-wrapper .main-nav .dropdownmoremenu li.nav-item {
	float: none;
	display: block;
	margin-right: 0;
	a {
		display: block;
	}
}

.main-nav-wrapper .main-nav .dropdownmoremenu li.nav-item {
	margin-left: 0;
}

.main-nav-wrapper .main-nav .dropdownmoremenu li.nav-item+.nav-item {
	//margin-left: 0;
}

.main-nav-wrapper .moremenu .dropdownmoremenu>.dropdown-menu .dropdown-menu .dropdown-item {
	background: inherit;
	&:hover {
		color: #fff;
	}
}

.initialbargroups .page-item.active .page-link{
	color: #fff !important;
}

#message-user-button {
	margin-right: 10px;
}


@media (min-width: 992px) {
	#page.drawers { 
		margin-top: 0;
	}
}

@media (min-width: 1200px) {
	.pagelayout-course #page.drawers .main-inner {
	    max-width: 1200px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) { 

	.page-header .utilities {
		
		.langmenu {
			#lang-menu-toggle {
				display: none;
			}
		}
	
	}

}




//Moodle 4.0

.page-header .utilities .usermenu .dropdown-toggle {
	padding: 0;
}
.page-header .utilities .usermenu .usertext {
	font-size: 12px;
	font-weight: normal;
}
.page-header .utilities .usermenu .carousel-item .header span.pl-2 {
	padding-left: 0 !important;
}

.page-header .utilities .usermenu .carousel-item .header .icon {
	margin-right: 0;
}
.page-header .utilities .usermenu .carousel-item .dropdown-item.pl-5 {
	padding-left: 1.5rem !important;
}
.dropdown-item[aria-current="true"]:before {
	font-size: 0.6rem;
	color: $theme-color-primary;
}

.page-header .utilities {
	.langmenu {
		#lang-menu-toggle {
			color: #fff;
			font-size: 12px;
			font-weight: normal;
			
		}
		
		#lang-action-menu {
			.dropdown-item {
				padding-right: 10px;
				padding-left: 20px !important;
			}
		}
	}
}


.page-header .simplesearchform .show{
	position: relative;
	height:31px;
	display:inline-block;
}

.page-header  {
	.simplesearchform .collapse.show, .simplesearchform .collapsing {
		background: none;
	}
}

.drawerheader button.drawertoggle {
	background: none;
	color: $theme-text-color-primary;
	.icon {
		color:  $theme-text-color-primary;
	}
}


.drawer-left-toggle .btn {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.drawer-right-toggle .btn {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}



.drawer-left-toggle, .drawer-right-toggle {
	top: 205px;
	.btn {
		background: darken($theme-text-color-primary, 5%);
		@include box-shadow(0 1px 2px rgba(0,0,0,.1));
	}
}

.drawer-left.show, .drawer-right.show{
	//z-index: 3000;
	@include box-shadow(0 5px 10px rgba(0,0,0,0.2));
}


#block-region-side-pre .drawercontent .block>.card-body {
    @include box-shadow(0);
}

.moremenu .nav-tabs {
	border-bottom: none;
}
.moremenu .nav-tabs .nav-link {
	
}
.moremenu .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
	border-color: transparent;
	color: $theme-text-color-primary;
	background: rgba(256, 256, 256, 0.6);
}

.courseindex .courseindex-item:hover, .courseindex .courseindex-item:focus {
	border-color: $smoky-white;
	background: $smoky-white;
}




#block-region-side-pre .calendar-controls  .arrow_text{
	font-size: 11px;
}

#block-region-side-pre .calendar-controls .current{
	font-size: 14px;
}

#page-wrapper #page {
	//height: auto;
}


.main-nav-wrapper .main-nav.navbar {
	padding: 0;
	.moremenu {
		height: 50px;
	}
}

.main-nav-wrapper .main-nav.navbar .nav-item {
	margin-left: 15px;
	.nav-link {
		height: 50px;

	}
}

#region-main-settings-menu {
	.action-menu {
		.icon.fa-circle {
			font-size: 10px;
		}
	}
}


#page-header .singlebutton {
	margin-left: 1rem;
}

#page-course-index-category .coursebox>.info {
	margin-bottom: 0;
}

.page-header .main-nav {
	padding: 0;
	float: none;
}

.page-header .utilities {
	position: relative;
	top: -10px;
}

.page-header .drawer-toggle {
	display: inherit;
	float: none;
}

.page-header .drawer-toggle-btn {
	display: inherit;
}

.page-header .main-nav .nav-link {
	height: 30px;
}

.page-header .navbar-expand .navbar-nav .dropdown-menu {

}
.page-header .main-nav li.nav-item+.nav-item {
	margin-left: 1rem;
}

.page-header .usermenu .usertext {
	top: inherit;
	display: inherit;
}

.simplesearchform .collapse.show .form-inline, .simplesearchform .collapsing .form-inline {
	.input-group {
		top: 3px;
	}
}

.page-header .main-nav .dropdownmoremenu .dropdown-menu {
	//right: inherit;
	//left: inherit;
}

.page-header .main-nav .dropdownmoremenu li.nav-item {
	float: none;
	display: block;
	margin-right: 0;
	a {
		display: block;
	}
}

.page-header .main-nav .dropdownmoremenu li.nav-item+.nav-item {
	margin-left: 0;
}

#page .secondarynavigation + #page-content #region-main>.card {
	border-top: none;
}


.initialbargroups .page-item.active .page-link{
	color: #fff !important;
}

#message-user-button {
	margin-right: 10px;
}

@media (min-width: 992px) {
	#page.drawers { 
		margin-top: 0;
	}
}

@media (min-width: 1200px) {
	.pagelayout-course #page.drawers .main-inner {
	    max-width: 1200px;
	}
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767px) { 

	.page-header .utilities {
		
		.langmenu {
			#lang-menu-toggle {
				display: none;
			}
		}
	
	}
	
	.page-header .utilities .usermenu { 
		margin-top: 0;
	}
	
	.simplesearchform .collapse.show .form-inline .input-group, .simplesearchform .collapsing .form-inline .input-group {
		top: 6px;
	}
	
	.page-header .main-nav .dropdownmoremenu {
		position: static;
	}
	
	.page-header .main-nav .dropdownmoremenu .dropdown-menu {
		left:0;
		right: auto;
	}

}


@media (max-width: 991.98px) {
	.page-header .utilities {
	    width: auto;
	}

}



//Moodle 4.0+ 
.top-bar-inner .special-wrapper {
	padding-left: 0 !important;
}

.langmenu, #page-header, #page, #block-region-side-pre {
	.dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:focus-within {
		color: $theme-text-color-primary;
	}
}

.page-header .utilities .usermenu .login {
	position: inherit;
	display: flex;
}

.page-header .utilities .popover-region-notifications .popover-region-toggle>.icon {
	font-weight: bold;
	color: rgba(256, 256, 256, 0.8);
}



.page-header .utilities a.popover-region-toggle {
	
	color: rgba(255,255,255,.8);
	
	&:hover {
		color: #fff;
	}
}

.page-header .utilities .popover-region-toggle>.icon {
	font-weight: bold;
	
}

.page-header .utilities .usermenu .dropdown-toggle .avatars {
	margin-left: 5px;
}



#page .secondarynavigation {
	background: white;
	margin-bottom: 0;
	
}

.secondarynavigation .moremenu .more-nav .nav-link {
	border:none;
	background: none;

	&.active {
		border-top:none;
		background: $smoky-white;
		border-top: 2px solid $theme-color-primary;
		font-weight: bold;
		&:hover {
			border:none;
			border-top: 2px solid $theme-color-primary;
			font-weight: bold;
		}
	}
	&:hover  {

		border-bottom: none;
		color: $theme-text-color-primary;
		
	}
}

.main-nav-wrapper .moremenu .more-nav .nav-link {
	height: inherit;
	border: none;
	background: none;
	font-weight: 700;
	color: rgba(256, 256, 256, 0.7);
	&.active, &:hover {
		border: none;
		background: none;
		color: #fff;
		font-weight: 700;
		background: none;
	}
}

.page-header .top-bar .main-nav li.nav-item {
	margin-right: 5px;
}
.page-header .top-bar .utilities {
	position: absolute;
    right: 0;
    top: -5px;
    
    .divider {
	    border: none !important;
    }
}

.drawer-toggles .drawer-toggler {
	top: 220px;
}

.drawer-toggles .drawer-toggler .btn {
	padding: 8px;
	padding-right:10px;
	background: $theme-text-color-primary;
}

.page-context-header .page-header-headings {
	text-align: left;
}

#block-region-side-pre .card-text.content {
	.footer-link, .footer {
		font-size: 0.75rem;
	}
}

#block-region-side-pre .calendar-controls .arrow_text {
	font-size: 9px;
}

.message-app .list-group .list-group-item:hover {
	background: $theme-color-primary;
	color: #fff;
}

#page-header .navigation-card {
	padding: 0.5rem, 1.25rem !important;
}

#page-header .page-context-header .page-header-headings .h2{
	font-size: 20px;
	
}

.action-menu-trigger {
	.dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:focus-within {
		background:$smoky-white;
		color: $theme-text-color-primary;
	}
}



.editmode-switch-form {
	.custom-control-label {
		color: #fff;
	}
	label {
		color: #fff;
	}
}

.course-content {
	.expanded-icon .icon {
		color: $theme-text-color-light;
	}
	a.icons-collapse-expand {
		position: relative;
		top: -5px;
	}
	
}

.activity-add .pluscontainer, .block-add .pluscontainer {
	border-color: $theme-color-primary;
	.icon {
		margin-right: 0;
	}
}

.block-region .block-add {
	.fa-plus-square {
		color: $theme-color-primary;
	}
}


.secondarynavigation {
	.nav-tabs a.nav-link.active, .nav-tabs a.nav-link.active:hover, .nav-tabs a.nav-link.active:active, .nav-tabs a.nav-link.active:focus {
		border-top: none;
	}

}


#page #page-header {
	h2 {
		font-size: 18px;
		margin-left: 15px;
	}
}

.btn-link.block-add:hover, .btn.activity-add:hover {
	background: $smoky-white;
	text-decoration: none;
}

.btn.btn-outline-success, .btn.btn-outline-secondary {
	padding: 2px 6px;
	font-size: 14px;
}

#changenumsections {
	border-top: $theme-color-primary;
}
.modchooser {
	.nav-tabs a.nav-link.active, .nav-tabs a.nav-link.active:hover, .nav-tabs a.nav-link.active:active, .nav-tabs a.nav-link.active:focus {
	    background: $smoky-white;

	}
}

.bg-light {
    background-color: $smoky-white !important;
}


.coursebox>.info>.coursename a {
	padding-left: 0;
}

#page .secondarynavigation {
	margin-top: 1rem;
}

.course_category_tree .category>.info>.categoryname, .course_category_tree .category.with_children>.info>.categoryname {
	background-repeat:no-repeat;
	background-position: 15px center;
	& > a {
		background: none;
	}
}


.category-browse .coursebox>.info>.coursename a {
	padding-left: 0;
}

#page-course-index-category #region-main .simplesearchform {
	margin: 0 auto;
	margin-top: 30px;
	max-width: 960px;
}

#page-course-index-category #region-main .categorypicker{
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 30px;
}


.course-content .course-section-header  .btn-icon {
	color: $theme-text-color-light;
	margin-right: 10px;
	.fa.icon {
		margin-right: 0;
		color: $theme-text-color-light;
	}
}

#page.drawers .main-inner {
	background: none;
	margin-top: 0;
}

.add_block_button .btn-link {
	border: 1px dashed $theme-color-primary;
	&:hover {
		border: 1px dashed $theme-color-primary;
	}
}



.add_block_button .btn-link .fa-plus {
	color: $theme-color-primary;
}

.list-group-item.active {
	background-color: $theme-color-primary;
    border-color: $theme-color-primary;
}

.editmode-switch-form label {
	margin-top:2px;
	color: rgba(256, 256, 256, 0.8);
}

.editmode-switch-form label.text-primary {
	color: #fff !important;
	
}

.message-app .closewidget  {
	padding: 10px;
}

#page-user-contactsitesupport #page-header .page-context-header{
	min-height: auto;
	padding-left: 0px;
}

.btn.btn-outline-success, .btn.btn-outline-secondary {
	padding: 10px 16px;
}

.block-myoverview hr {
	display: none;
}

.secondary-navigation .navigation {
	border: none;
}

.activity-item:not(.activityinline) {
	background:white;
}

.btn.icons-collapse-expand .icon {
	color: $theme-text-color-secondary;
	margin: 0;
}

.block_myoverview.card {
	background:none;
}

//new
.block_myoverview.card {
	padding: 1rem;
}

.coursebox>.info>.coursename a {
	padding-left: 0;
}
.coursebox .content .coursecat, .coursebox .content .summary, .coursebox .content .courseimage, .coursebox .content .coursefile, .coursebox .content .teachers, .coursebox.remotecoursebox .remotecourseinfo, .coursebox .content .customfields-container {
	margin-top: 10px;
}
.coursebox .content .summary {
	//margin-top: 5px;
}

.coursebox .content .courseimage img {
	@include border-radius(4px);
}

#region-main .coursebox > .info > h3.coursename {
	font-size: 18px;
}

#frontpage-available-course-list .coursebox, #frontpage-course-list .coursebox, .course-search-result .coursebox {
	padding: 1rem;
}

.courses .coursebox > .info {
	margin-bottom: 0;
}

.coursebox > .info .icon.fa-info {
	top: inherit;
	color: $theme-text-color-secondary;
}
.coursebox .enrolmenticons {
	margin-top: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
	background-color: #5A88ED;
	border-color: #5A88ED;
}


.action-menu .btn-icon .fa {
	color: $theme-text-color-primary;
	margin-right: 0;
}
.course-content .course-section-header .btn-icon .fa.icon{
	color: $theme-text-color-primary;
}

.header-action .btn .fa {
	margin: 0;
	color: $theme-text-color-primary;
}

#page-my-index .card-footer .btn.coursemenubtn .fa {
	color: $theme-text-color-primary;
}

#region-main.has-blocks {
	margin-bottom: 30px;
}

.cookies {
	color: $theme-text-color-light;
	font-size: 14px;
	margin-top: 10px;
}


.login-form button.btn {
	margin-bottom: 15px;
}

.page-header .utilities .usermenu {
	top: inherit;
}


.guest-login-container h6{
    font-weight: 300;
    font-size: 18px !important;
    text-align: center;
    margin-bottom: 15px;
}


[data-region=right-hand-drawer].drawer, [data-region=left-hand-drawer].drawer {
	top: 50px;
}

.page-header .utilities .usermenu .dropdown-toggle {
	top: inherit;
}

.message-app .closewidget {
	padding-top: 5px;
}

.editmode-switch-form label {
	padding-top: 1px;
}

.page-header .top-bar .utilities {
	top: -3px;
}

.course-content .badge-default {
	color: #fff;
}

.auth-blocks-wrapper .forgetpass {
	margin-bottom: 5px;
}

.header-action .simplesearchform .btn .fa {
	color: #fff;
}

#page-course-index-category #region-main .simplesearchform {
	margin-top: 0;
}

#page .dropdown-item.active, #page .dropdown-item:active {
	background: $smoky-white;
	color: $theme-color-primary;
}

.courseindex .courseindex-item.pageitem {
	background: $theme-color-primary;
}


#page-wrapper {
	height: inherit;
}

#page-site-index #page-wrapper {
	height: auto;
}

.page-header .top-bar {
	z-index: 2002;
}

[data-region=right-hand-drawer].drawer {
	z-index:2002;
}

#page-wrapper.page-wrapper-maintenance {
	height: auto;
}

#page-mod-customcert-rearrange {
	#page-wrapper #page {
	    overflow: inherit !important;
	}
}


#page-mod-customcert-view {
	#region-main {
		.singlebutton {
		    margin-bottom: 30px;
		    
		    & + h3 {
			    margin-bottom: 30px;
		    }
	    }
	}
	
}

#page-mod-customcert-manage_templates {
	#region-main {
		.singlebutton {
			margin-top: 15px;
			margin-bottom: 30px;
		}
    }
}

/* grade report */
.path-grade-report-grader .gradeparent {
	overflow: auto;
}
.path-grade-report-grader .gradeparent th.header {
	left: 0;
}

/* User profile page */
.path-user .page-context-header {
	min-height: inherit;
	margin-top: 1rem;
	padding-left: 0;
	align-items: baseline;
}
.path-user .page-context-header .page-header-image {
	position: static;
	
	img.userpicture {
		max-width: 100%;
		height: auto;
	}
}

//rubric grading related

.gradingform_rubric .addcriterion {
	margin-left: 0;
	margin-top: 15px;
}



.gradingform_rubric.editor .addcriterion input {
	height: auto;
	line-height: inherit;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 10px;
    
}

.gradingform_rubric.editor .addcriterion input {
	background-position: 7px 12px;
	&:hover {
		border: none;
	}
}

.gradingform_rubric .criterion .addlevel input {
	height: auto;
	
}

.gradingform_rubric.editor .addlevel input  {
	background-position: 7px 6px;
	padding-left: 30px;
	border: 1px solid $theme-border-color;
}

.grader-grading-panel .header-container {
	.btn .fa, a.btn .fa {
		color: $theme-text-color-primary;
	}
}

//Forum grading
.layout.fullscreen {
	z-index: 3000; //higher than top bar
}



@media (min-width: 768px) {
	#page-header.header-maxwidth {
		max-width: inherit;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0px;
	}
	
	.pagelayout-standard #page.drawers .main-inner, body.limitedwidth #page.drawers .main-inner {
		max-width: inherit;
	}
	
	#page-footer {
		margin-left: -3rem;
		margin-right: -3rem;
		.container {
			max-width: 1140px;
		}
	}
	
	#page-site-index #page-footer {
		margin-left: 0;
		margin-right: 0;
	}
}


@media (min-width: 992px) {
	.drawer-left, .drawer-right {
	    top: calc(50px + 1px);
	    height: calc(100vh - 50px);
	}
	#page.drawers {
	    height: calc(100vh - 50px);
	    margin-top: 50px;
	}
	
	#page-wrapper #page.drawers {
		margin-top: 0;
	}

}




@media (max-width: 767.98px)  { 

	.path-user .page-context-header .page-header-image img.userpicture {
		width: 60px;
	}

}

